:root {
  --colors-dark: hsl(0, 0%, 14%);
  --colors-white: hsl(0 0% 100%);

  --text-color: var(--colors-dark);
  --background: var(--colors-white);
}

.dark {
  --text-color: var(--colors-white);
  --background: var(--colors-dark);
}
