@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0px;
  padding: 0px;

  color: var(--text-color);
  background-color: var(--background);
}

@layer base {
  :root {
    --colors-primary: #0e9ac0;
    --colors-dark: hsl(0, 0%, 14%);
    --colors-white: hsl(0 0% 100%);

    --text-color: var(--colors-dark);
    --background: var(--colors-white);
  }

  .dark {
    --text-color: var(--colors-white);
    --background: var(--colors-dark);
  }
}

body {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.button {
  @apply rounded-lg hover:cursor-pointer bg-woodsmoke-950 px-4 py-2 focus-visible:ring-0 focus-visible:ring-offset-0 hover:bg-[#121212];
}

.button:hover {
  opacity: 60%;
}
