@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  font-family: 'Inter', 'Inter Fallback', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0px;
  padding: 0px;

  color: var(--text-color);
  background-color: var(--background);
}

@layer base {
  :root {
    --colors-primary: #0e9ac0;
    --colors-dark: hsl(0, 0%, 14%);
    --colors-white: hsl(0 0% 100%);

    --text-color: var(--colors-dark);
    --background: var(--colors-white);
  }

  .dark {
    --text-color: var(--colors-white);
    --background: var(--colors-dark);
  }
}

@theme {
  --color-woodsmoke-50: oklch(98.5% 0 0);
  --color-woodsmoke-100: oklch(95.5% 0 0);
  --color-woodsmoke-200: oklch(89.5% 0 0);
  --color-woodsmoke-300: oklch(78.5% 0 0);
  --color-woodsmoke-400: oklch(66% 0 0);
  --color-woodsmoke-500: oklch(57% 0 0);
  --color-woodsmoke-600: oklch(51% 0 0);
  --color-woodsmoke-700: oklch(45% 0 0);
  --color-woodsmoke-800: oklch(41% 0 0);
  --color-woodsmoke-900: oklch(37% 0 0);
  --color-woodsmoke-950: oklch(21% 0 0);
  --color-dark: var(--colors-dark);
  --color-primary: var(--colors-primary);
}

body {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.button {
  @apply rounded-lg hover:cursor-pointer bg-woodsmoke-950 px-4 py-2 focus-visible:ring-0 focus-visible:ring-offset-0 hover:bg-[#121212];
}

.button:hover {
  opacity: 60%;
}
